
nav{
  background-color: black;
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlink{
  display: inline-block;
  color: white;
  padding: 10px;
  text-decoration: none;

}
.active{
  background-color:rgb(66, 108, 224)!;
}

.todos-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;

}
.todos-input{
  margin-right: 20px;
  padding: 5px 10px;
  width: 35%;
  border-color: rgb(194, 194, 194);
  border-radius: 5px;
}
.add-btn{
  background-color: white;
  border-color: rgb(66, 108, 224);
  width: 20%;
  border-radius: 5px;
  color:rgb(66, 108, 224);
}
.todo-list-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.todo-list{
  background-color: rgb(235, 235, 235);
  width: 60%;
}
.task-li{
  border-bottom: 1px solid rgb(184, 181, 181);
  padding: 5px 0;
  
}
.checkbox{
  margin-right: 10px;

}
.todo-ul{
  list-style-type: none;
}

.show-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.all-btn{
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right:8px;
  background-color: rgb(194, 194, 194);
}
.all-btn-active{
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right:8px;
  background-color: rgb(66, 108, 224);

}
.active-btn{
  background-color: rgb(194, 194, 194);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 8px;

}
.active-btn-active{
  background-color:rgb(66, 108, 224);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 8px;

}
.complete-btn{
  background-color: rgb(194, 194, 194);
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 8px;
}
.complete-btn-active{
  background-color:rgb(66, 108, 224);
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  margin-right: 8px;

}
.selected{
  padding: 10px 10px;
  background-color: rgb(66, 108, 224);;
  color: white;
  text-decoration: none;
  margin-left: 0;
}
.form-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input[type=email],textarea{ 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  border-color: rgb(194, 194, 194);
}
input[type=submit]{
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  background-color:rgb(194, 194, 194);
}
label{
  font-weight: 500;
}


/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/